<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="TestDataProvider.Service">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="TestDataProvider.IService"
				  behaviorConfiguration="webHttp" />
      </service>
    </services>
	<behaviors>
	  <endpointBehaviors>
        <behavior name="webHttp">
            <webHttp/>
        </behavior>
      </endpointBehaviors>
     </behaviors>
  </system.serviceModel>
 <configSections>
    <sectionGroup name="dataAccessGroup">
      <section name="ServerAccessRules" 
        type="TestDataProvider.DataAccessor.ServerAccessRules"
        allowLocation="true" 
        allowDefinition="Everywhere"
      >
    </sectionGroup>
      <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
	<ServerAccessRules>
		<Servers>
			<add name="" address= "" initCat="initCat" userName="" password="" adapter=""/>
		</Servers>
	</ServerAccessRules>
</configuration>
